<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sino.file.mapper.InterestTraceMapper" >
  <resultMap id="BaseResultMap" type="com.sino.file.model.InterestTrace" >
    <id column="SerialNo" property="serialno" jdbcType="DECIMAL" />
    <result column="BusinessNo" property="businessno" jdbcType="VARCHAR" />
    <result column="AccNo" property="accno" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="MakeDate" property="makedate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SerialNo, BusinessNo, AccNo, money, MakeDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sino.file.model.InterestTraceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from interesttrace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from interesttrace
    where SerialNo = #{serialno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from interesttrace
    where SerialNo = #{serialno,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sino.file.model.InterestTraceExample" >
    delete from interesttrace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sino.file.model.InterestTrace" >
    <selectKey resultType="java.lang.Long" keyProperty="serialno" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into interesttrace (BusinessNo, AccNo, money, 
      MakeDate)
    values (#{businessno,jdbcType=VARCHAR}, #{accno,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{makedate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sino.file.model.InterestTrace" >
    <selectKey resultType="java.lang.Long" keyProperty="serialno" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into interesttrace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessno != null" >
        BusinessNo,
      </if>
      <if test="accno != null" >
        AccNo,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="makedate != null" >
        MakeDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessno != null" >
        #{businessno,jdbcType=VARCHAR},
      </if>
      <if test="accno != null" >
        #{accno,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sino.file.model.InterestTraceExample" resultType="java.lang.Integer" >
    select count(*) from interesttrace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update interesttrace
    <set >
      <if test="record.serialno != null" >
        SerialNo = #{record.serialno,jdbcType=DECIMAL},
      </if>
      <if test="record.businessno != null" >
        BusinessNo = #{record.businessno,jdbcType=VARCHAR},
      </if>
      <if test="record.accno != null" >
        AccNo = #{record.accno,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.makedate != null" >
        MakeDate = #{record.makedate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update interesttrace
    set SerialNo = #{record.serialno,jdbcType=DECIMAL},
      BusinessNo = #{record.businessno,jdbcType=VARCHAR},
      AccNo = #{record.accno,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      MakeDate = #{record.makedate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sino.file.model.InterestTrace" >
    update interesttrace
    <set >
      <if test="businessno != null" >
        BusinessNo = #{businessno,jdbcType=VARCHAR},
      </if>
      <if test="accno != null" >
        AccNo = #{accno,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="makedate != null" >
        MakeDate = #{makedate,jdbcType=DATE},
      </if>
    </set>
    where SerialNo = #{serialno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sino.file.model.InterestTrace" >
    update interesttrace
    set BusinessNo = #{businessno,jdbcType=VARCHAR},
      AccNo = #{accno,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      MakeDate = #{makedate,jdbcType=DATE}
    where SerialNo = #{serialno,jdbcType=DECIMAL}
  </update>
</mapper>